@font-face {
  font-family: 'Noto Sans Malayalam';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansmalayalam/v21/sJoi3K5XjsSdcnzn071rL37lpAOsUThnDZIfPdbeSNzVakglNM-Qw8EaeB8Nss-_RuDNG1bFn6E.woff2) format('woff2');
  unicode-range: U+0307, U+0323, U+0964-0965, U+0D02-0D7F, U+200C-200D, U+20B9, U+25CC;
}

body {
  padding-top: 70px;
  background-color: #0a0909;
  font-family: 'Noto Sans Malayalam', 'Noto Color Emoji', 'Segoe UI', sans-serif;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: 2.5em;
}

a,
.a:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container-fluid {
  width: 94%;
  margin: 0px auto;
  max-width: 94%;
}

.border-round-0 {
  border-radius: 0;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }

  25% {
    -webkit-transform: scale(1.35);
    opacity: 0.1;
  }

  50% {
    -webkit-transform: scale(1.7);
    opacity: 0.3;
  }

  75% {
    -webkit-transform: scale(2.05);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(2.4);
    opacity: 0.0;
  }
}

.mt-neg100 {
  margin-top: -100px;
}

.min-50vh {
  min-height: 50vh;
}

.dropdown-header {
  font-size: 1.5rem;
}

.nav-link,
.dropdown-item {
  font-weight: 700;
}

.navbar {
  padding: 0.5rem 2rem;
}

.card {
  border: 0;
  transition: ease .1s;
  background-color: #1d1b1b;
}

.dwnld {
  font-size: 14px;
  position: absolute;
  bottom: 9px;
  right: 10px;
  text-transform: uppercase;
  -webkit-transform: translate(-20%, -20%);
  transform: translate(-20%, -20%);
  -ms-transform: translate(-50%, -50%);
}

.social {
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.social .fa {
  margin: 0 3px;
}

article .card-body {
  padding: 1.25rem 2rem;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
}

.btn-gray {
  background-color: #efefef;
  color: #333;
}

.btn-gray:hover {
  background-color: #ddd;
}

.showcat {
  margin: auto;
  padding: 0 15px 40px 15px;
}

.PageNavigation a {
  position: absolute;
  top: 5%;
  color: white;
  text-align: center;
  background: rgb(0, 180, 255);
  background: linear-gradient(180deg, rgba(0, 180, 255, 1) 0%, rgba(0, 84, 255, 1) 100%);
  border-radius: 40px;
  box-shadow: 1px 2px 55px black;
}

.PageNavigation a i {
  font-size: 1.3em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 50%;
}

.PageNavigation a:hover {
  color: #ffc107;
}

a.prev {
  left: 0.5%;
}

a.next {
  right: 0.5%;
}

#resultsmodal {
  background: rgba(255, 255, 255, 0.8);
}

.socials-media .fab {
  font-size: 20px;
}

.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight .cm {
  color: #999988;
  font-style: italic;
}

.highlight .cp {
  color: #999999;
  font-weight: bold;
}

.highlight .c1 {
  color: #999988;
  font-style: italic;
}

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

.highlight .c,
.highlight .cd {
  color: #999988;
  font-style: italic;
}

.highlight .err {
  color: #0054ff;
  background-color: #e3d2d2;
}

.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

.highlight .ge {
  color: #000000;
  font-style: italic;
}

.highlight .gr {
  color: #0054ff;
}

.highlight .gh {
  color: #999999;
}

.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

.highlight .go {
  color: #888888;
}

.highlight .gp {
  color: #555555;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #aaaaaa;
}

.highlight .gt {
  color: #0054ff;
}

.highlight .kc {
  color: #000000;
  font-weight: bold;
}

.highlight .kd {
  color: #000000;
  font-weight: bold;
}

.highlight .kn {
  color: #000000;
  font-weight: bold;
}

.highlight .kp {
  color: #000000;
  font-weight: bold;
}

.highlight .kr {
  color: #000000;
  font-weight: bold;
}

.highlight .kt {
  color: #445588;
  font-weight: bold;
}

.highlight .k,
.highlight .kv {
  color: #000000;
  font-weight: bold;
}

.highlight .mf {
  color: #009999;
}

.highlight .mh {
  color: #009999;
}

.highlight .il {
  color: #009999;
}

.highlight .mi {
  color: #009999;
}

.highlight .mo {
  color: #009999;
}

.highlight .m,
.highlight .mb,
.highlight .mx {
  color: #009999;
}

.highlight .sb {
  color: #0054ff;
}

.highlight .sc {
  color: #0054ff;
}

.highlight .sd {
  color: #0054ff;
}

.highlight .s2 {
  color: #0054ff;
}

.highlight .se {
  color: #0054ff;
}

.highlight .sh {
  color: #0054ff;
}

.highlight .si {
  color: #0054ff;
}

.highlight .sx {
  color: #0054ff;
}

.highlight .sr {
  color: #009926;
}

.highlight .s1 {
  color: #0054ff;
}

.highlight .ss {
  color: #0054ff;
}

.highlight .s {
  color: #0054ff;
}

.highlight .na {
  color: #008080;
}

.highlight .bp {
  color: #999999;
}

.highlight .nb {
  color: #0086B3;
}

.highlight .nc {
  color: #445588;
  font-weight: bold;
}

.highlight .no {
  color: #008080;
}

.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}

.highlight .ni {
  color: #800080;
}

.highlight .ne {
  color: #0054ff;
  font-weight: bold;
}

.highlight .nf {
  color: #0054ff;
  font-weight: bold;
}

.highlight .nl {
  color: #0054ff;
  font-weight: bold;
}

.highlight .nn {
  color: #555555;
}

.highlight .nt {
  color: #000080;
}

.highlight .vc {
  color: #008080;
}

.highlight .vg {
  color: #008080;
}

.highlight .vi {
  color: #008080;
}

.highlight .nv {
  color: #008080;
}

.highlight .ow {
  color: #000000;
  font-weight: bold;
}

.highlight .o {
  color: #000000;
  font-weight: bold;
}

.highlight .w {
  color: #bbbbbb;
}

.highlight {
  background-color: #f8f8f8;
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.logo-footer {
  margin-bottom: 1em;
}

.img-footer {
  width: 12em;
  filter: grayscale(100%) opacity(80%);
}

.img-footer:hover {
  filter: none;
}

.img-jekyll {
  width: 4em;
  filter: grayscale(100%);
}

.img-jekyll:hover {
  filter: none;
}

.meme-gradient {
  background: rgb(0, 84, 255);
  background: linear-gradient(90deg, rgba(0, 84, 255, 1) 0%, rgba(0, 180, 255, 1) 100%);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255 255 255 / 92%);
}

.dropdown-item {
  color: rgb(255 255 255 / 92%);
}

.bg-digilink,
.text-digi {
  color: #00b4ff;
}

.bg-digilink:hover {
  color: #ffc107;
}

.text-body {
  color: #adb5bd !important;
}

.banner {
  display: block;
  text-align: center;
  width: 100%;
  position: relative;
  animation: animatetop 2s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-track {
  background: rgb(0, 180, 255);
  background: linear-gradient(180deg, rgba(0, 180, 255, 1) 0%, rgba(0, 84, 255, 1) 100%);
}

body::-webkit-scrollbar-thumb {
  background: #ffc107;
}

.pagination a {
  color: white;
  background-color: #00b4ff;
  border-color: #333;
}

.pagination a:hover {
  background-color: #ffc107;
  color: #333;
  border-color: #ffc107;
}

.page-item.disabled .page-link {
  background-color: transparent;
  color: #333;
  border-color: #333;
}

.fa-brands:hover {
  color: #ffc107;
}

/* ---------------------- */

.modal-fader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 99998;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.modal-window {
  display: none;
  width: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: sans-serif;
}

@media (min-width:500px) {
  .modal-window {
    width: 320px;
  }
}

@media (min-width:800px) {
  .modal-window {
    width: 450px;
  }
}

.modalimg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  float: left;
  text-align: center;
  background-image: url(/assets/images/kavadiyattam-jagathy-chammal.jpg);
  background-size: cover;
  background-position: center;
}

.pixelfed {
  width: 1.32em;
  vertical-align: -0.30em;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%) opacity(50%);
}

.pixelfed:hover {
  filter: invert(71%) sepia(74%) saturate(1140%) hue-rotate(353deg) brightness(105%) contrast(103%);
}

.back-to-top {
  position: fixed;
  width: 5rem;
  height: 5rem;
  bottom: 2rem;
  right: 2rem;
  background-image: url(https://i.imgur.com/WqeX70S.png);
  background-size: cover;
  z-index: 1;
  display: none;
}

.back-to-top:hover {
  background-image: url(https://i.imgur.com/j2HQmvB.png);
}